/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    /*height: 500vh;*/
}

.site-logo{
    width: 150px;
}
.site-nav{
    position: absolute;
    top: 0;
    z-index: 2000;

}

.site-nav-scroll{
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 0 5px #00000050;
    animation: toDropSlow 1s linear;
}
@keyframes toDropSlow {
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0);
    }

}
.nav-link.current-section{
    border: 2px solid #db1717;
}

.site-nav-scroll .nav-link{
    color: var(--primary) !important;
}

.site-nav-scroll .nav-link.current-section{
    border: 2px solid var(--primary) ;

}
.site-nav-scroll .menu-icon{
    color: var(--primary) !important;
}
.navbar .navbar-toggler{
    border: 0;
    outline: none;
}
.navbar .navbar:focus-visible{
    outline: none;
}

.home{
    background-image: url("../img/bg-shape.svg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 60%;
    position: relative;
}
.social-v{
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-v a{
    display: block;
    margin-bottom: 20px;
    transition: 0.4s;
}
.social-v a:hover{
    transform: scale(1.5);
}
.scroll-next{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 50px;
    margin: auto;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-next img{
    width: 20px;
    animation-iteration-count: infinite;
}

.about{
    background: #7E76F910;
}
.about-text{
    background-image: url("../img/bg-2.svg");
    background-size: 100%;
    background-position: center;
    backdrop-filter: opacity(0.5);
}

.services{
    background-image: url("../img/bg-3.svg");
    background-size: 100%;
}
.services-card{
    border-radius: 35px !important;
    border: none !important;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05) !important;
    transition: 0.5s;
}
.services-card:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transform: scale(0.98);
}
.services-card img{
    transition: 0.3s;
}
.services-card:hover img{
    transform: scale(1.3);
}
.services-card-des{
    height: 180px;
}
.pricing{
    background-color: #7E76F920;
}
.contact{
    background-image: url("../img/footer-1.svg"),url("../img/footer-2.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
    background-attachment: fixed;
    background-position: bottom;
}
.footer{
    padding-top: 150px;
}
.footer-icon a{
    transition: 0.9s;
}
.footer a:hover{
    transform: scale(1.5);
}

@media screen and (max-width: 576px) {
    .content-2,.content-2-text{
        width: 100% !important;
    }
    .contact{
        background-size: cover;
        background-position: center;
    }
    .slick-prev{
        left: 0 !important;
    }
    .slick-next{
        right: 34px !important;
    }
    .social-v{
        display: none;
    }
    .scroll-next{
        display: none;
    }
    .site-nav{
        background-color: #ffffffee;
        box-shadow: 0 0 5px #00000015;
        backdrop-filter: blur(5px);
    }
    .site-nav .menu-icon{
        color: var(--primary) !important;
    }
    .site-nav .nav-link{
        color: var(--primary) !important;
        padding: 15px 20px;
        background: white;
        margin-bottom: 15px;
        border-radius: 10rem;
        box-shadow: 0 0 5px #00000015;
    }
    .navbar-nav{
        padding-top: 25px;
    }
}
@media screen and (max-width: 768px) {
    .slick-prev{
        left: -5px !important;
    }
    .slick-next{
        right: 25px !important;
    }
    .contact{
        background-size: cover;
        background-repeat: no-repeat;
        padding: 150px 0 0 0;
    }
}

.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dots li{
    width: 10px !important;
    height: 10px !important;
    background-color: transparent;
    border: 2px solid #7E76F960 !important;
    border-radius: 50%;
}
.slick-dots li.slick-active{
    width: 15px !important;
    height: 15px !important;
    background-color: #7E76F9 !important;
    border-radius: 50%;
}
.ani-delay-1{
    animation-delay: 0.5s;
}
.ani-delay-2{
    animation-delay: 1s;

}
.ani-delay-3{
    animation-delay: 1.5s;

}
.ani-delay-4{
    animation-delay: 1.8s;

}
.ani-delay-5{
    animation-delay: 2s;
}

